/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(135deg, #f0f0f0, #b089c2);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #875ba5;
}

.logo img {
    width: 150px;
}

.main-content {
    text-align: center;
    padding: 40px;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 8px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-menu a.active {
    background-color: #875ba5;
    color: #fff;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    display: none;
    flex-direction: column;
}

form.active-form {
    display: flex;
}

form h2 {
    margin-bottom: 20px;
    color: #333;
}

form label {
    text-align: left;
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

form button {
    padding: 12px 20px;
    background-color: #875ba5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #6b4d9c;
}

.bottom-text {
    margin-top: 20px;
}

.bottom-text p {
    color: #333;
}

.bottom-text a {
    color: #875ba5;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sign-in-container {
        width: 90%;
    }

    .tab-menu a {
        padding: 8px 12px;
    }

    form input, form button {
        font-size: 14px;
    }
}
